body {
    width: 100px;
    height: 100px;
    padding: 10px;
    display: grid;
    align-content: center;
}

#button {
  width: 50px;
  height: 5px;
}

#warning {
  background-color: yellow;
  color: red;
  font-weight: bold;
  padding: 10px;
}